/* global style */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

/* button-style */

button {

    background-color: #E95A08;
    border: 1px solid #E95A08;
    color: #fafafa;
    font-family: 'Noto Serif', serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 15px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #fafafa;
    color: #E95A08;
    border: 1px solid #E95A08;
    cursor: pointer;
}

/* font-style */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Serif', serif;
    text-transform: capitalize;
    line-height: 1.25em;
    margin: 0;
}

h1 {
    font-size: 65px;
    font-weight: 700;
    color: #E95A08;
}

h2 {
    font-size: 50px;
    font-weight: 700;
    color: #E95A08;
}

h3 {
    font-size: 30px;
    font-weight: 500;
    color: #0e0e0e;
}

h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5em;
    color: #737373;
}

h5 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5em;
    color: #0e0e0e;
}

h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    color: #0e0e0e;
}

.paragraph {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #737373;
    margin: 0;
    line-height: 1.5em;
}





/* navbar */

#navbar {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.menu-cart {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#cart-icon {
    width: 24px;
    height: 24px;
}

.link {
    font-family: 'Noto Serif', serif;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #0e0e0e;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
}

.link:hover {
    color: #E95A08;
}

#navlink-phone {
    font-family: 'Noto Serif', serif;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #0e0e0e;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* hero-section */

#hero-section {
    max-width: 1140px;
    padding: 120px 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#h1-black {
    color: #0e0e0e;
}

.hero-contents {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Trusted Plant Lover Badge */

#trusted-plant-lover-badge {
    max-width: 1140px;
    padding: 120px 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}


.badge_image_contents {
    display: flex;
    flex-direction: column;
}

.badge_text_contents {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.headline-black {
    color: #0e0e0e;
}

li {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #737373;
    margin: 0;
    line-height: 1.5em;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.badge_image_contents {
  position: relative;
}
#badge {
  position: absolute;
  top: -120px;
  left: 340px;
  width: 286px;
}

/* Plants Section */

#plants-section {
    max-width: 1140px;
    padding: 0px 0px 120px 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.headline {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.plants-section-contents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 20px;
    flex-wrap: wrap;
}

.plants-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-contents {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card-headline {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

/* Latest Deals */

#latest-deals {
    max-width: 1140px;
    padding: 0px 0px 120px 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.grid-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.left-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-cards {
    display: flex;
    flex-direction: column;
}

.deal-1 {
    width: 367px;
    height: 215px;
    background-image: url('./assets/deal-bloom.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    justify-content: center;
}

.deal-2 {
    width: 367px;
    height: 215px;
    background-image: url('./assets/deal-ana.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    justify-content: center;
}

.deal-3 {
    width: 753px;
    height: 450px;
    background-image: url('./assets/deal-zabo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    justify-content: center;
}

.grid-cards-heading {
    color: #fafafa;
}

.card-link {
    color: #fafafa;
    text-decoration: none;
}

/* Join Section */

#join-section {
    width: 100%;
    height: 510px;
    background-image: url('./assets/news-letter-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    justify-content: center;
}

#headline-white {
    color: #fafafa;
}

.subscribe-form {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 0;
}

.subscribe-form input {
  padding: 15px 35px;
  font-size: 16px;
  width: 600px;
  border: none;
  font-family: 'Inter', sans-serif;
}

.subscribe-form button {
  background-color: #E95A08;
  color: #fff;
  width: 180px;
  padding: 16px 28px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
  font-family: 'Noto Serif', serif;
}

.subscribe-form button:hover {
  background-color: #c94d06;
}

/* Footer Section */

#footer-section {
    max-width: 1140px;
    padding: 120px 0px 50px 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.row-1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.row-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row-3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row-4 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer-link {
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #0e0e0e;
}

.footer-link:hover {
    color: #E95A08;
}

#logo {
    width: 135px;
    height: 82px;
}












 /* Mobile Responsive */

@media (max-width: 575.98px) {
    
    /* Navbar */

    #navbar {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 20px 15px;
        align-items: center;
    }

    .link {
        display: none;
    }

    /* Hero Section */

    #hero-section {
        display: flex;
        flex-direction: column;
        padding: 60px 15px;
        flex-direction: column-reverse;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .hero-contents, h1 {
        font-size: 48px;
    }

    .hero-contents {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-image {
        max-width: 100%;
        height: auto;
        display: block;
        overflow: hidden;
    }

    /* Trusted Plant Lover Badge */

    #trusted-plant-lover-badge {
    padding: 60px 15px;
    display: flex;
    flex-direction: column;
    }

    #badge {
        display: none;
    }

    /* Plants Section */
    
    .plants-section {
        display: flex;
        flex-direction: column;
        padding: 0px 15px 60px 15px;
    }
    .plants-section-contents {
        display: grid;
        row-gap: 20px;
        column-gap: 10px;
        grid-template-columns: 1fr 1fr;
    }

    ul {
        padding: 0px 15px;
    }

    .card-headline, h3 {
        font-size: 30px;
    }

    /* Latest Deals */

    #latest-deals {
        padding: 0px 15px 60px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grid-cards {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }

    .left-cards {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }
    
    .right-cards {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .deal-1 {
        width: 100%;
        height: 215px;
        background-image: url('./assets/deal-bloom.png');
        background-size: cover;background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        gap: 5px;
        border-radius: 20px;
        text-align: center;
        justify-content: center;
    }
    
    .deal-2 {
        width: 100%;
        height: 215px;
        background-image: url('./assets/deal-ana.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        gap: 5px;
        border-radius: 20px;
        text-align: center;
        justify-content: center;
    }

    .deal-3 {
        width: 100%;
        height: 215px;
        background-image: url('./assets/deal-zabo.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        gap: 0px;
        border-radius: 20px;
        text-align: center;
        justify-content: center;
    }

    .grid-cards-heading {
        font-size: 30px;
        color: #fafafa;
    }   

    .card-link {
        color: #fafafa;
        font-size: 18px;
        text-decoration: none;
    }
    
    /* Join Section */

    #join-section {
        width: 100%;
        height: 400px;
        padding: 0px 15px;
        background-image: url('./assets/news-letter-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        gap: 25px;
        text-align: center;
        justify-content: center;
    }

    #join-section, h2 {
        font-size: 36px;
    }

    #headline-white {
        color: #fafafa;
    }

    .subscribe-form input {
        padding: 15px 35px;
        font-size: 16px;
        border: none;
        width: 600px;
        font-family: 'Inter', sans-serif;
    }

    .subscribe-form button {
        background-color: #E95A08;
        color: #fff;
        width: 180px;
        padding: 15px 28px;
        font-size: 16px;
        font-weight: 600;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-family: 'Noto Serif', serif;
    }

    .subscribe-form button:hover {
        background-color: #c94d06;
    }

    #footer-section {
        display: flex;
        flex-direction: column;
        padding: 60px 15px 20px 15px;
        gap: 20px;
    }
}

