/* global style */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

/* button-style */

button {
    background-color: #E95A08;
    border: 1px solid #E95A08;
    color: #fafafa;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    border-radius: 10px;
    padding: 12px 36px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #fafafa;
    color: #E95A08;
    border: 1px solid #E95A08;
    cursor: pointer;
}

/* font-style */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Serif', serif;
    text-transform: capitalize;
    line-height: 1.25em;
    margin: 0;
}

h1 {
    font-size: 65px;
    font-weight: 700;
    color: #E95A08;
}

h2 {
    font-size: 50px;
    font-weight: 700;
    color: #E95A08;
}

h3 {
    font-size: 36px;
    font-weight: 500;
    color: #0e0e0e;
}

h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5em;
    color: #737373;
}

h5 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5em;
    color: #0e0e0e;
}

h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    color: #0e0e0e;
}

.paragraph {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #737373;
    margin: 0;
    line-height: 1.5em;
}





/* navbar */

#navbar {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#cart-icon {
    width: 24px;
    height: 24px;
}

.link {
    font-family: 'noto-serif';
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #0e0e0e;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
}

.link:hover {
    color: #E95A08;
}

.link.active {
    color: #E95A08;
}

/* hero-section */

#hero-section {
    max-width: 1140px;
    padding: 120px 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#h1-black {
    color: #0e0e0e;
}

.hero-contents {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Trusted Plant Lover Badge */

#trusted-plant-lover-badge {
    max-width: 1140px;
    padding: 120px 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.badge_image_contents {
    display: flex;
    flex-direction: column;
}

.badge_text_contents {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#h2-black {
    color: #0e0e0e;
}

li {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #737373;
    margin: 0;
    line-height: 1.5em;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#badge {
    width: 286px;
    height: 286px;
    position: absolute;
    top: 690px;
    left: 530px;
}